In [ ]:
!pip install vecstack

Collecting vecstack
  Downloading https://files.pythonhosted.org/packages/d0/a1/b9a1e9e9e5a12078da1ab9788c7885e4c745358f7e57d5f94d9db6a4e898/vecstack-0.4.0.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from vecstack) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from vecstack) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from vecstack) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->vecstack) (0.16.0)
Building wheels for collected packages: vecstack
  Building wheel for vecstack (setup.py) ... done
  Created wheel for vecstack: filename=vecstack-0.4.0-cp36-none-any.whl size=19880 sha256=e91a17b391bf69b29f4ddffd0545b114253f06a913d6dfca507b7967c083f967
  Stored in directory: /root/.cache/pip/wheels/5f/bb/4e/f6488433d53bc0684673d6845e5bf11a25240577c8151c140e
Successfully built vecstack
Installing collected packages: vecstack
Successfully installed vecstack-0.4.0

In [ ]:
from vecstack import stacking
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score #works
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
#from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.svm import SVC
from collections import Counter #for Smote,

import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
# To upload our datasets from our working directory we need to mount our drive contents to the colab environment.
# For the code to do so you can search “mount” in code snippets or use the code given below.
# Our entire drive contents are now mounted on colab at the location “/gdrive”.

from google.colab import drive
drive.mount('/gdrive')
#Change current working directory to gdrive
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
trainfile = r'/gdrive/My Drive/CIS 508/Assignment 3/RevisedHomesiteTrain.csv'
train_data = pd.read_csv(trainfile)

testfile = r'/gdrive/My Drive/CIS 508/Assignment 3/RevisedHomesiteTest.csv'
test_data = pd.read_csv(testfile)

print(train_data.shape)


print(test_data.shape)


QuoteNum_Data = r'/gdrive/My Drive/CIS 508/Assignment 3/QuoteNumberData.csv'
Quote_Data = pd.read_csv(QuoteNum_Data)

train_data.head()

(65000, 596)
(173836, 596)

   CoverageField11A  ...  QuoteConversion_Flag
0                 2  ...                     0
1                 5  ...                     0
2                 4  ...                     0
3                15  ...                     0
4                 4  ...                     0

[5 rows x 596 columns]

In [ ]:
#Copy Train data excluding target
trainData_Copy = train_data.iloc[:, :-1].copy()
testData_Copy = test_data.iloc[:, :-1].copy()

X_train = trainData_Copy
X_test = testData_Copy
y_train = train_data['QuoteConversion_Flag']

Quote_Num = Quote_Data[['QuoteNumber']].copy()

In [ ]:
y_train.shape
X_train.shape

(65000, 595)

In [ ]:
#CONSTRUCT DEFAULT DECISION TREE AND OBTAIN RESPECTIVE ACCURACY ==================
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
clf_predict=clf.predict(X_test)
dt_pred = clf.predict(X_test)
dt_pred = pd.DataFrame(dt_pred,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, dt_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_Decision_Tree_results.csv", index = False)

res_dt = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_Decision_Tree_results.csv")
res_dt.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     1
2            7                     0
3            9                     0
4           10                     1

In [ ]:
#Random Forest =============================================================
#Default mode
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc_predict=rfc.predict(X_test)
rf_pred = rfc.predict(X_test)
rf_pred = pd.DataFrame(rf_pred,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, rf_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_RandomForest_results.csv", index = False)

res_rf = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_RandomForest_results.csv")
res_rf.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

In [ ]:
#Gradient Boosting ============================================================
search_grid={'n_estimators':[5,10,20, 30, 50],'learning_rate':[0.01,.1]}
abc =GradientBoostingClassifier()
abc.fit(X_train, y_train)
abc_predict=abc.predict(X_test)

gb_pred = abc.predict(X_test)
gb_pred = pd.DataFrame(gb_pred,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, gb_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_GradientBoosting_results.csv", index = False)

res_gb = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_GradientBoosting_results.csv")
res_gb.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

In [ ]:
#Construct Multilayer Perceptron using the best parameters
#Default mode
mlp = MLPClassifier()
mlp.fit(X_train, y_train)
mlp_predict=mlp.predict(X_test)


mlp_pred = mlp.predict(X_test)
mlp_pred = pd.DataFrame(mlp_pred,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, mlp_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_MultilayerPerceptron_results.csv", index = False)

res_mlp = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_MultilayerPerceptron_results.csv")
res_mlp.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

In [ ]:
#Construct Support Vector Machines using the best parameters
#Default mode
svc = svm.SVC()
svc.fit(X_train, y_train)
svc_predict=svc.predict(X_test)

svm_pred = svc.predict(X_test)
svm_pred = pd.DataFrame(svm_pred,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, svm_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_SupportVectorMachines_results.csv", index = False)

res_svm = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_SupportVectorMachines_results.csv")
res_svm.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

In [ ]:
#SMOTE==============================================================================
print("___________________________________________________________________\nSMOTE\n")
print('Original dataset shape %s' % Counter(y_train))
sm = SMOTE(sampling_strategy='float', ratio=0.5)
X_res, y_res = sm.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_res))

___________________________________________________________________
SMOTE

Original dataset shape Counter({0: 52738, 1: 12262})
Resampled dataset shape Counter({0: 52738, 1: 26369})

In [ ]:
#STACKING MODELS =====================================================================
print("___________________________________________________________________________________________\nEnsemble Methods Predictions using DecisionTreeClassifier(), RandomForestClassifier(), GradientBoostingClassifier(), MLPClassifier(), svm.SVC()\n")

models = [ DecisionTreeClassifier(), RandomForestClassifier(), GradientBoostingClassifier(), MLPClassifier()]

S_Train, S_Test = stacking(models,
                           X_res, y_res, X_test,
                           regression=False,

                           mode='oof_pred_bag',

                           needs_proba=False,

                           save_dir=None,

                           metric=accuracy_score,

                           n_folds=4,

                           stratified=True,

                           shuffle=True,

                           random_state=0,

                           verbose=2)

___________________________________________________________________________________________
Ensemble Methods Predictions using DecisionTreeClassifier(), RandomForestClassifier(), GradientBoostingClassifier(), MLPClassifier(), svm.SVC()

task:         [classification]
n_classes:    [2]
metric:       [accuracy_score]
mode:         [oof_pred_bag]
n_models:     [4]

model  0:     [DecisionTreeClassifier]
    fold  0:  [0.90135005]
    fold  1:  [0.90322091]
    fold  2:  [0.90043990]
    fold  3:  [0.90225526]
    ----
    MEAN:     [0.90181653] + [0.00103410]
    FULL:     [0.90181653]

model  1:     [RandomForestClassifier]
    fold  0:  [0.92526672]
    fold  1:  [0.92228346]
    fold  2:  [0.92551954]
    fold  3:  [0.92344256]
    ----
    MEAN:     [0.92412807] + [0.00133278]
    FULL:     [0.92412808]

model  2:     [GradientBoostingClassifier]
    fold  0:  [0.93517723]
    fold  1:  [0.93244678]
    fold  2:  [0.93664358]
    fold  3:  [0.93562905]
    ----
    MEAN:     [0.93497416] + [0.00155280]
    FULL:     [0.93497415]

model  3:     [MLPClassifier]
    fold  0:  [0.71052232]
    fold  1:  [0.78115993]
    fold  2:  [0.76634474]
    fold  3:  [0.86316748]
    ----
    MEAN:     [0.78029862] + [0.05461555]
    FULL:     [0.78029757]

In [ ]:
#STACKING - CONTRUCT A GRADIENT BOOSTING MODEL==============================
model = GradientBoostingClassifier()

model = model.fit(S_Train, y_res)
stack_predict = model.predict(S_Test)

stack_pred = pd.DataFrame(stack_predict,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, stack_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_Stacking_results.csv", index = False)
res_stack = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_Stacking_results.csv")

res_stack.head()

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

In [ ]:
#Get Prediction Probability for the predicted class as a dataframe
pred_Probability =pd.DataFrame(model.predict_proba(S_Test))

pred_Probability.head()

          0         1
0  0.966366  0.033634
1  0.966366  0.033634
2  0.966366  0.033634
3  0.966366  0.033634
4  0.966366  0.033634

In [ ]:
#Randomized Search for hyperparameter tuning
model_random = RandomizedSearchCV(model,search_grid,n_iter=15)
model_random.fit(S_Train, y_res)
grid_parm_model=model_random.best_params_
print(grid_parm_model)

{'n_estimators': 10, 'learning_rate': 0.1}

In [ ]:
#Construct Gradient Boosting Trees using the best parameters
stack_abc= GradientBoostingClassifier(n_estimators= 10, learning_rate= 0.1)
stack_abc.fit(S_Train,y_res)
stack_abc_predict = stack_abc.predict(S_Test)


#run cross-validation on best parameters, get auc score
stack_abc_cv_score = cross_val_score(stack_abc, S_Train, y_res, cv=10, scoring="roc_auc")
print("=== All AUC Scores ===")
print(stack_abc_cv_score)
print('\n')
print("=== Mean AUC Score ===")
print("Mean AUC Score - Boosting: ",stack_abc_cv_score.mean())


stack_abc_pred = pd.DataFrame(stack_abc_predict,columns=['QuoteConversion_Flag'])

pd.concat([Quote_Num, stack_abc_pred], axis=1).to_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_StackingHyperparamatertuned_results.csv", index = False)
res_stack_tuned = pd.read_csv("/gdrive/My Drive/CIS 508/Assignment 3/Homework3_StackingHyperparamatertuned_results.csv")

res_stack_tuned.head()

=== All AUC Scores ===
[0.91136947 0.90436431 0.8974513  0.90730272 0.93779057 0.99631872
 0.99687159 0.99626755 0.9967007  0.99714076]


=== Mean AUC Score ===
Mean AUC Score - Boosting:  0.9541577673558732

   QuoteNumber  QuoteConversion_Flag
0            3                     0
1            5                     0
2            7                     0
3            9                     0
4           10                     0

Voicethread link: https://asucarey.voicethread.com/share/15715668/